body {
    background-color: #F0F5F4;
}

#quiz-btn,
#initials-btn,
#clear-btn {
    display: inline-block;
    border: 0;
    line-height: 2;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #004E64;
}

.card-header {

    color: #004E64;
    margin: 10px auto;

    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-quiz,
header p,
.card {
    border: 5px solid #F0F5F4;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #004E64;
    background-color: #fff;
    margin: 10px auto;
    padding: 5px;
    width: 50%;
}

header p {
    background-color: #F0F5F4;
}


header h1 {
    text-align: center;
    color: #004E64;
}


.btn {
    box-shadow: 0 0px var(--grey);
    top: 0;
}

.question-text {
    display: stretch;
}

#score {
    text-align: end;
    color: #004E64;
}

.answer-n {
    margin: 5px 1px;
}

.answer-btn {
    border: none;
}

.input-field,
h4,
h5 {
    text-align: start;
    width: 100%;
}